---
import Communities from '@components/Communities.astro';
import Gallery from '@components/Gallery.astro';
import Hero from '@components/Hero.astro';
import Info from '@components/Info.astro';
import Locations from '@components/Locations.astro';
import OpenGraph from '@components/struct/OpenGraph.astro';

import Layout from '@layouts/Layout.astro';

const options = {
  title: 'Tech School',
  description: 'Primer evento tecnologico inter regional'
};
---

<Layout options={options}>
  <OpenGraph
    description={options.description}
    image="/og/og.jpg"
    slot="social-media"
    title={options.title}
  />

  <main>
    <Hero />
    <Locations />
    <Info />
    <Communities />
    <Gallery />
  </main>

  <footer>
    Add your footer here
  </footer>
</Layout>

<style>
  main {
    overflow: hidden;
    padding-inline: 4.5rem;
    padding-block-end: 6.5rem;

    display: flex;
    flex-direction: column;
    gap: 6.5rem;
  }
</style>
