<footer class="footer">
  <a
    class="badge"
    href="https://uxcorprangel.github.io/"
    rel="noopener noreferrer"
    target="_blank"
  >
    <img
      alt="Badge de UXCorpRangel"
      decoding="async"
      fetchpriority="low"
      height="59"
      loading="lazy"
      src="/images/uxcorprangel-badge.svg"
      width="303"
    />
  </a>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.3rem;
    overflow: hidden;
    text-wrap: pretty;
    position: relative;
    padding: 7rem 3.75rem 2.5rem;

    &::before {
      content: '';
      position: absolute;
      width: 60rem;
      aspect-ratio: 1 / 1;
      inset-block-start: 3rem;
      inset-inline-start: 50%;
      translate: -50%;
      filter: blur(10px);
      background: radial-gradient(50% 50% at 50% 50%, var(--teal) 0%, transparent 100%);
      animation: scaling 3s infinite alternate ease-in-out;
    }
  }

  @keyframes scaling {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.8);
    }
  }
</style>
