---
import type { Options } from '@contracts';

import Base from './Base.astro';

interface Props {
  options: Options;
}

const { options } = Astro.props;
---

<Base options={options}>
  <slot />

  <span class="footer-gradient"></span>
</Base>
